<!-- profile.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
</head>
<body>
    <h1>Profile Page</h1>
    {% if user.is_authenticated %}
        <p>Username: {{ user.username }}</p>
        <p>First Name: {{ user.first_name }}</p>
        <p>Last Name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Age: {{ profile.age }}</p>
        <p>Gender: {{ profile.get_gender_display }}</p>
        <p>City: {{ profile.city }}</p>
         <p>Cookie: {{ random_number }}</p>
        <p>{{ login_message }}</p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</body>
</html>
